@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{box-sizing: border-box;}
:root{
    --red: hsl(0, 80%, 70%);
    --blue: hsl(204, 80%, 70%);
    --purple: hsl(262, 80%, 70%);
    --mainFont: 'Nunito', sans-serif;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--mainFont);
    
}

h2{
    font-size: 4rem;
}

#timerNum{
    font-size: 5rem;
}

h1, h2{
    font-weight: 900;
}

label{
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.5;
}
#poke-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    
}

#poke-display{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20rem;
    height: 20rem;
    background-color: var(--red);
    border-radius: 2rem;
}
#poke-display img{
    width: 90%;
    height: auto;
}

#options{
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    grid-gap: 0.5rem;
    align-items: center;
    justify-content: center;
    width: 90%;
}



input[type="number"]{
    grid-column: 2/6;
    width: 100%;
    height: 5rem;
    text-align: center;
    font-size: 1.5rem;
    border: 2px solid var(--blue); 
    border-radius: 0.5em;
    accent-color: var(--red);
}

label[for="time-value"]{
    text-align: center;
    grid-column: 1/7;
}
#gens{
    grid-column: 1/7;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#forms{
    grid-column: 1/7;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
}
#forms input[type="checkbox"]{
    justify-self: right;
    grid-column: 1/2;
    accent-color: var(--red);
}
#gens input{
    accent-color: var(--red);
}


#forms label{
    justify-self: left;
    grid-column: 2/5;
}
input[type="button"]{
    grid-column: 1/7;
    font-size: 1.2rem;
    width: 100%;
    text-align: center;
    padding:2rem;
    height: 100%;
    color:unset;
    font-weight: 600;
    background-color: var(--red);
    border: solid 1px var(--red);
    border-radius: 0.5rem;
}
#toggle-options{
    background-color: var(--purple);
    border: solid 1px var(--purple);
}
#PokeStart::before{
    content:"";
}

#PokeStart:disabled{
    background-color: #ddd;
}



#gens div{
    margin: 0.5rem;
}

a{
    text-decoration: none;
    color: var(--purple);
    border-bottom: 2px var(--purple) solid;
    transition: all 100ms ease-in-out;
}
a::before{
    content: url('https://api.iconify.design/fa-solid/link.svg?color=%23a275f0&width=10');
    
    /* prevents the link symbol from being on the wrong line! */
    white-space: nowrap;
    display: inline;
    /* animates the following css */
}
a:hover{
    border-bottom: 4px var(--purple) solid;
}

.centered{
    text-align: center;
}



@media (min-width:900px) {
    #options{
        width: 50%;
    }
    #poke-display{
        min-width: unset;
        min-height: unset;
        width: 40rem;
        height: 40rem;
    }
    #gens{
        grid-column: 1/4;
    }
    input[type="number"]{
        grid-column: 3/5;
    }
    #forms{
        grid-column: 4/7;
    }
}

@media (min-width:1403px){
    #poke-display{
        min-width: unset;
        min-height: unset;
    }
    #gens{
        grid-column: 2/4;
    }
    input[type="number"]{
        grid-column: 3/5;
    }
    #forms{
        grid-column: 4/6;
    }
    #PokeStart{
        grid-column: 2/4;
    }
    #toggle-options{
        grid-column: 4/6;
    }
}

.hidden{
    display:none !important;
}

